<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @character.game_id %>
</p>

<p>
  <strong>L_Name:</strong>
  <%= @character.l_name %>
</p>

<p>
  <strong>F_Name:</strong>
  <%= @character.f_name %>
</p>

<p>
  <strong>L_Kana:</strong>
  <%= @character.l_kana %>
</p>

<p>
  <strong>F_Kana:</strong>
  <%= @character.f_kana %>
</p>

<p>
  <strong>Roma:</strong>
  <%= @character.roma %>
</p>

<p>
  <strong>Search word:</strong>
  <%= @character.search_word %>
</p>

<p>
  <strong>Cv:</strong>
  <%= @character.cv_id %>
</p>

<p>
  <strong>Idol type:</strong>
  <%= @character.idol_type %>
</p>

<p>
  <strong>Age:</strong>
  <%= @character.age %>
</p>

<p>
  <strong>Height:</strong>
  <%= @character.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @character.weight %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @character.birthday %>
</p>

<p>
  <strong>Blood type:</strong>
  <%= @character.blood_type %>
</p>

<p>
  <strong>Bust:</strong>
  <%= @character.bust %>
</p>

<p>
  <strong>Waist:</strong>
  <%= @character.waist %>
</p>

<p>
  <strong>Hip:</strong>
  <%= @character.hip %>
</p>

<p>
  <strong>Color:</strong>
  <%= @character.color %>
</p>

<p>
  <strong>Description:</strong>
  <%= @character.description %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @character.memo %>
</p>

<p>
  <strong>Position:</strong>
  <%= @character.position %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
